node_modules
.expo
.playwright-cli
.codex-logs
output
android/.gradle
android/.gradle/**
android/.kotlin
android/.kotlin/**
android/build
android/build/**
android/app/build
android/app/build/**
android/local.properties
expo-qr.png
google-play-service-account.json
eas-*.txt
*.log
*.err.log
